<footer class="footer">

  <h2 id="find-us">Find us at:</h2>

  <a href="https://www.facebook.com/" target="_blank">
    <img border="0" alt="facebook logo" class="social_icon" src="/fb-colour.png" width="50px" height="50px">
  </a>

  <a href="https://twitter.com/physisister" target="_blank">
    <img border="0" alt="twitter logo" class="social_icon" src="/tw-colour2.png" width="65px" height="65px">
  </a>

  <h3 id="email">thephysisisters@gmail.com</h3>

</footer>
