<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="padding-bottom: 30px;"> About Us </h1>
      <div id="about-us-para">
        <p>We​ are Olivia and Francesca, two sisters from the UK who love physics! Olivia has a Bachelor's degree in physics from Oxford and Francesca is studying physics at school for her GCSEs.</p>
        <p>We noticed that there are very few girls who take physics at A level and even fewer who study it at degree level and we want to do something about it.</p>
        <p>That's where Physisister comes in.</p>
        <p> We have resources to help girls with GCSE Physics, articles to introduce them to fascinating topics beyond their syllabus and a community to support them along the way.
      </div>
    </div>
  </div>
</div>
