<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> About Us </h1>

      <p>We​ are Olivia and Francesca, two sisters from the UK who love physics! Olivia has a Bachelor's degree in Physics and Francesca is studying physics at school for her GCSEs.</p>
      <p>We noticed that there are very few girls who take physics at A level and even fewer who study it at degree level.</p>
      In fact, 49% of schools in the UK have no girls in their A level Physics class, and only around 15% of Physics undergraduate students are female.
      When I ask people about this they generally respond with something along the lines of "Girls just don't like physics as much as boys, just like girls like arts and languages more than boys, there's nothing you can do about that."
      But we're not satisfied with that. We like physics and don't understand why it would be a subject that only boys like.
      Also, this discrepancy doesn't exist in maths which is roughly 50% at A level and degree level. Since maths and physics are so similar, why would girls like the former but not the latter?
      So, we reject this idea that it is all down to biology, that girls are just naturally less inclined to study STEM. We think there's much more to it than that.
      After thinking a lot about this we believe that these are the main reasons why girls aren't studying physics.
      </p>
      <h3>Historic Treatment</h3>
      <p>
      Firstly we can't forget the fact that until fairly recently women were not allowed to study at university and then when they were they were strongly discouraged to study the sciences. Throughout most of the 20th century women were seen as homemakers and housewives rather than their career-driven male counterparts. Women who were interested in pursuing a career were ridiculed and patronised. While a lot has changed since then, the impact of the long history of discrimination is still present today.
      There are people who, possibly without realising, will favour the work of a male scientist to a female's or promote a male scientist over an equally qualified woman. 
      As a result, the stereotype of scientists has become something along the lines of a nerdy and socially-awkward man in a lab coat writing non-sensical equations on a blackboard. While it may not seem it, this does play a part when girls are deciding which career path they would like to follow as it is difficult for them to picture themselves in that role.
      Role Models
      This idea that physics is a boys' subject has led to us having very few female role models for girls to look up to. 
      While this does in the most part come from the lack of women in Physics it is also exacerbated by the historic downplay of women's contribution to science. Despite the massive inequality during the 20th century there were many women whose scientific achievements have changed the world, yet most of us have never heard of them.
      ​To this day most of the individuals in the media who represent and promote science are men. Without many female role models to look up to, girls are more likely to feel as if science is not a subject or a career for them.
      ​</p>
      <h3>Peer Pressure</h3>
      <p>
      The fact that this huge imbalance exists perpetuates the imbalance further. Girls are less likely to choose a subject that none of their friends are studying and that very few girls study at all. Having been a teenage girl studying a subject where I am the only girl in the class, it is really difficult to convince yourself that you belong. Anyone who is on the fence about whether or not to take physics can easily be swayed by that fact.
      Having been at an all-girls school when I discovered that physics was the subject that I wanted to study, I worry that I would have made a different decision had I been at a co-ed school. It was very hard to transition to being in a classroom full of my friends with a female physics teacher to suddenly being the only girl in my whole year taking A level Physics at all. 
      Self-confidence
      When I ask girls why they don't want to take physics further, most of the time they say because it is too hard for them. Why don't the boys say this? I believe that inherently girls usually possess less self-confidence than boys, despite being at the same level. Studies of children at the age of 6 show that very early on girls show lower confidence in their abilities than their male counterparts. Even at degree level usually the girls felt as if they were worse than the boys despite getting similar marks. 
      As an undergraduate, I suffered from what is penned the 'imposter syndrome', where I often felt as if I had somehow slipped through the cracks and wasn't cut out to be there. This is very common in undergraduates and is particularly common in girls. 
      Our Solution!
      So what can we do about it? After thinking so much about this problem, we decided to build Physisister to try and make a difference. We think what can make a difference is to firstly show young girls that they are competent in physics and just as deserving as their fellow students. Secondly, to connect girls to other female physics students to give them a support network within their subject. Thirdly, to introduce girls to incredible women in science both past and present, to give them role-models for them to aspire to become. 
      That's where Physisister comes in!
      We built revision tools to allow girls to get to grips with the physics concepts no matter the school they are in and the quality of teaching they receive.
      We have a community where girls can help each other with homework queries, discuss interesting physics topics and share experiences of studying physics. We wanted to show girls who may be the only girl studying physics at her school that there are others out there facing the same hurdles.
      Finally we wrote articles about incredible women of history whose contributions to science have changed the world. We also interview incredible women of today who are revolutionising their respective fields to show girls that there are so many women out there who are making a difference.
      Plus there's many more fun and interesting physics things here to explore to inspire young girls to think more about how everything around us works. 
      If one girl somewhere in the world feels more confident studying physics because of us then we think it is worth it.
      After all a world with more female scientists in it would be a better world to live in for all of us!
      So join us and help inspire more Physisisters!!
      </p>
    </div>
  </div>
</div>
