<%= render 'home/navbar' %>

<div id="physisister-title-div">
  <h1 id="physisister-title">Physisister</h1>
</div>

<div id="description-div">
  <h3 id="description-title"> Discover the world of physics </h3>
  <div id="description-para">
    <p>Whether you're studying physics at school, at university or even just curious about the subject, this is a website for you.</p>
    <p>You can supplement your revision with GCSE and A level resources, learn about areas of physics that interest you the most, communicate with other girls studying physics and much more.</p>
  </div
</div>
